.footer {
  position: fixed;
  bottom: 10%;
  width: 85%;
  padding: 0 7.5%;
}

.footer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.footer__social-group {
  display: flex;
  gap: 60px;
}

.logo {
  width: 140px;
  height: auto;
  margin-right: auto;
}

.footer .logo {
  /* Estilos base del logo */
  height: 100%; /* Ajusta el tamaño según necesites */
  opacity: 1;
  transition: opacity 0.4s ease-in-out; /* Transición suave para el fade */
  /* Importante: Evita que la imagen invisible bloquee clics si hay algo debajo */
  pointer-events: auto;
}

.footer .logo--hidden {
  /* Estilos cuando el logo debe estar oculto */
  opacity: 0;
  pointer-events: none; /* La imagen oculta no será interactuable */
}

.description_logo {
  display: flex;
  color: aliceblue;
  justify-content: end;
  height: 45px;
  transform: translateX(2%);
}

.description_logo p {
  font-size: 20px;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 600;
}

/* 📱 Responsive */
@media (max-width: 768px) {
  .footer {
    bottom: 5%;
  }
  .footer ul {
    gap: 20px;
  }

  .footer__social-group {
    gap: 40px;
    justify-content: center;
    margin-right: 40px;
  }

  .logo {
    width: 80px;
  }

  .footer__social-group li {
    transform: scale(0.7); /* reduce button size */
  }

  .description_logo {
    height: 35px;
    transform: translateX(-4%);
  }

  .description_logo p {
    font-size: 15px;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 500;
  }
}
