/* src/components/ui/ScrollHint.css */

.scroll-hint {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  transition: opacity 0.5s ease-out;
  pointer-events: none;
}

.scroll-hint--hidden {
  opacity: 0;
}

.scroll-hint__icon-container {
  animation: bounceUpDown 1.8s ease-in-out infinite;
  padding-bottom: 0px;
}

/* Animación de rebote */
@keyframes bounceUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
}

@media (max-width: 768px) {
  .scroll-hint {
    bottom: 150px;
  }
}
